<!DOCTYPE html>
<title>Citrus Drop</title>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        {% if title %}
            <title>{{ title }}</title>
        {% else %}
            <title>Citrus Drop</title>
        {% endif %}
        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
            <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <header>
            <div class="navbar navbar-dark bg-dark box-shadow">
                <div class="container d-flex justify-content-between">
                    <nav class="navbar navbar-expand-sm navbar-dark bg-dark p-1">
                        <a class="navbar-brand" href="/">
                        <img src="/static/citrus_drop.png" height=50px width=50px>
                        <strong>Citrus Drop</strong></a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        {% block navbar %}
                        {% endblock %}
                    </nav>
                </div>
            </div>
        </header>
        <script src="https://www.gstatic.com/charts/loader.js"></script>

        <div class="container">
            <div class="row p-3">
                <div class="col-1">
                    <img src={{ message.profile_image_url}} class="img-fluid" style="max-width: 100%; , height: auto;">
                </div>
                <div class="col-1">
                    <div class="row">name</div>
                    <div class="row">following</div>
                    <div class="row">followed</div>
                </div>
                <div class="col-1">
                    <div class="row">{{ message.screen_name }}</div>
                    <div class="row">{{ message.followers_count }}</div>
                    <div class="row">{{ message.friends_count }}</div>
                </div>
                <div class="col-3">
                    <div class="row"><button type="button" class="btn btn-primary btn-sm">Update</button></div>
                    <div class="row">last update: {{ message.last_update }}</div>
                </div>
            </div>
            <div class="row p-1">
                <script>
                    (function(){
                        'use strict';

                        // パッケージのロード
                        google.charts.load('current', {packages: ['corechart']});
                        // コールバックの登録
                        google.charts.setOnLoadCallback(drawChart);

                        // コールバック関数の実装
                        function drawChart(){
                            var data = new google.visualization.DataTable();
                            data.addColumn('string', 'idol_name');
                            data.addColumn('number', 'count');
                            var x = {{ message.result|tojson }};
                            if(x != null) var len = x.length;
                            else var len = 0;

                            for(var i=0; i<len; i++){
                                data.addRow([x[i].idol_name, x[i].count]);
                            }
                            var page = {{ page|tojson }}
                            var options = {
                                title: 'Idol Count',
                                {% if page == "donut" %}
                                    pieHole: 0.4,
                                {% endif %}
                            };

                            // 描画用インスタンスの生成および描画メソッドの呼び出し
                            var chart = new google.visualization.PieChart(document.getElementById('piechart'));
                            chart.draw(data, options);
                            var chart = new google.visualization.ColumnChart(document.getElementById('columnchart'));
                            chart.draw(data, options);
                        }
                    })();
                </script>
                <div class="col-6">
                    {% block left %}{% endblock %}
                </div>
                <div class="col-6">
                    {% block right %}{% endblock %}
                </div>
            </div>
        </div>



        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    </body>
</html>
