{% extends "layout.html" %}
{% block navbar %}
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <a class="navbar-brand" href="/"><strong>Citrus Drop</strong></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">トップ</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link active" href="/donut">ドーナッツ！</a>
                </li>
                <!-- ドロップダウンメニューが欲しくなった時用
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#"></a>
                        <a class="dropdown-item" href="#"></a>
                    </div>
                </li>
                -->
        </ul>
    </div>
</nav>
{% endblock %}

{% block content %}
    <div id="piechart" style="width=900px; height: 600px;"></div>
    <div id="columnchart" style="width=900px; height: 600px;"></div>
    <script src="https://www.gstatic.com/charts/loader.js"></script>
    <script>
        (function(){
            'use strict';

            // パッケージのロード
            google.charts.load('current', {packages: ['corechart']});
            // コールバックの登録
            google.charts.setOnLoadCallback(drawChart);

            // コールバック関数の実装
            function drawChart(){
                var req = new XMLHttpRequest();
                var data = new google.visualization.DataTable();


                data.addColumn('string', 'idol_name');
                data.addColumn('number', 'count');
                req.onreadystatechange = function()
                {
                    var x = JSON.parse(req.responseText || "null");
                    if(x != null) var len = x.length;
                    else var len = 0;

                    for(var i=0; i<len; i++){
                        data.addRow([x[i].idol_name, x[i].count]);
                    }
                }
                req.open("GET", "/static/test.json", false);
                req.send(null);

                var options = {
                    title: 'Idol Count',
                };

                // 描画用インスタンスの生成および描画メソッドの呼び出し
                var chart = new google.visualization.PieChart(document.getElementById('piechart'));
                chart.draw(data, options);
                var chart = new google.visualization.ColumnChart(document.getElementById('columnchart'));
                chart.draw(data, options);
            }
        })();
    </script>
{% endblock %}