{% extends "layout.html" %}
{% block navbar %}
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">トップ</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link active" href="/donut">ドーナッツ！</a>
                </li>
                <!-- ドロップダウンメニューが欲しくなった時用
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#"></a>
                        <a class="dropdown-item" href="#"></a>
                    </div>
                </li>
                -->
        </ul>
    </div>
</nav>
{% endblock %}

{% block google_chart %}
    <script>
        (function(){
            'use strict';

            // パッケージのロード
            google.charts.load('current', {packages: ['corechart']});
            // コールバックの登録
            google.charts.setOnLoadCallback(drawChart);

            // コールバック関数の実装
            function drawChart(){
                var data = new google.visualization.DataTable();
                data.addColumn('string', 'idol_name');
                data.addColumn('number', 'count');
                var x = {{ message.result|tojson }};
                if(x != null) var len = x.length;
                else var len = 0;

                for(var i=0; i<len; i++){
                    data.addRow([x[i].idol_name, x[i].count]);
                }
                var options = {
                    title: 'Idol Count',
                };

                // 描画用インスタンスの生成および描画メソッドの呼び出し
                var chart = new google.visualization.PieChart(document.getElementById('piechart'));
                chart.draw(data, options);
                var chart = new google.visualization.ColumnChart(document.getElementById('columnchart'));
                chart.draw(data, options);
            }
        })();
    </script>
{% endblock %}

{% block left %}
    <div id="piechart" style="width=900px; height: 600px;"></div>

{% endblock %}
{% block right %}
    <div id="columnchart" style="width=100%; height: 600px;"></div>
{% endblock %}